@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-akira: var(--font-akira);
  --font-arsenica: var(--font-arsenica);
  --font-tasa-orbiter: var(--font-tasa-orbiter);
  --font-karla: var(--font-karla);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161828;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom component classes */
@layer components {
  .text-vertical-textured {
    @apply font-black font-akira bg-clip-text text-transparent bg-repeat;
    background-image: url('/patterns/pattern_01.png');
    background-size: 20px 20px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .drop-shadow-teal {
    filter: drop-shadow(0 4px 4px #73b3b6);
  }
}
/* 
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1em;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1em;
} */